body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

form {
  width: 305px;
  margin: 5vh auto 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  /* Fondo suave */
}

label {
  margin-bottom: 8px;
  color: #333;
  /* Texto principal */
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  color: #555;
  cursor: pointer !important;
  /* Texto secundario */
}

button {
  width: calc(100%);
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  /* Verde suave para los botones */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #17a01e;
  /* Verde ligeramente más oscuro al pasar el mouse */
}

button#cancel {
  background-color: #e53935;
}

button:hover#cancel {
  background-color: #e70400;
  /* Verde ligeramente más oscuro al pasar el mouse */
}

/* Estilos para el contenedor del date picker de Flatpickr */
/* Estilos para el contenedor del date picker de Flatpickr */
.flatpickr-calendar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #000; /* Cambia el color del borde a negro */
  border-radius: 4px;
  background-color: #fff; /* Cambia el color de fondo a blanco */
  color: #000; /* Cambia el color del texto a negro */
  position:fixed; /* Cambia a absolute */
}


/* Estilo para los días en el date picker */
.flatpickr-days {
  padding: 0px;
}

/* Estilo para los días individuales en el date picker */
.flatpickr-day {
  width: 0px; /* Ajusta el ancho según sea necesario */
  height: 30px; /* Ajusta la altura según sea necesario */
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para los días seleccionados en el date picker */
.flatpickr-day.selected {
  background-color: #4CAF50; /* Cambia el color de fondo al seleccionar un día a verde (#4CAF50) */
  color: white;
  border-color: #17a01e;
}