/* Estilos para el formulario de inicio de sesión */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 8px;
    font-size: 14px;
    color: #333;
}

form {
    width: 305px;
    margin: 20vh auto 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"] { /* Aplica estilos tanto a campos de texto como a campos de contraseña */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    color: #555;
}

button {
    width: calc(100%);
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #17a01e;
}

button#cancel {
    background-color: #e53935;
}

button:hover#cancel {
    background-color: #e70400;
}

button[disabled] {
    background-color: #cccccc; /* Color gris */
    color: #666666; /* Color de texto gris oscuro */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" cuando está deshabilitado */
}

/* Estilo adicional si quieres cambiar la apariencia cuando el mouse pasa sobre el botón deshabilitado */
button[disabled]:hover {
    background-color: #cccccc; /* Puedes ajustar el color si lo deseas */
    color: #666666;
}